body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.Title {
    background-color: #333;
    color: white;
    text-align: center;
    margin: auto;
}

.header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

#Title{
    text-align: center;
}

.content {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2{
    text-align: center;
}

p label{
    display: block;
    margin: 10px 0 5px;
    text-align: center;
}

#sign,
#log{
    width: auto;
}

.logSignForm{
    text-align: center;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"]{
    text-align: center;
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


.button2{
    display: flex;
    justify-content: center;
    width: auto;
}

button {
    width: 5%;
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #357ABD;
}